<header class="main-header">

  <!-- Logo -->
  <a href="#" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>B</b>X</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Bitex</b></span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" id="sidebar_toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="hidden-xs"><%= 'Gonzalo Rosendo' %></span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <p>
               Gonzalo Rosendo
               <small><%#= @current_user.agency_name %></small>
             </p>
           </li>
           <!-- Menu Body
           <li class="user-body">
            <div class="col-xs-4 text-center">
              <a href="#">Followers</a>
            </div>
            <div class="col-xs-4 text-center">
              <a href="#">Sales</a>
            </div>
            <div class="col-xs-4 text-center">
              <a href="#">Friends</a>
            </div>
          </li>
          -->
          <!-- Menu Footer-->
          <li class="user-footer">
            <div class="pull-left">
              <!--<a href="#" class="btn btn-default btn-flat">Perfil</a>-->
            </div>
            <div class="pull-right">
              <%= link_to("Cerrar Sesión", "#", class: "btn btn-default btn-flat") %>
            </div>
          </li>
        </ul>
      </li>
      <!-- Control Sidebar Toggle Button -->
     <%# if @option_menus.has_control_side? %>
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      <%# end %>  
    </ul>
  </div>

</nav>
</header>
